<p>Pasting the following HTML input into the “Body” field of a “Book page” set to split on <code>&lt;h1&gt;</code> and <code>&lt;h2&gt;</code>:</p>

<pre>
&lt;p&gt;This text is the introduction.&lt;/p&gt;
&lt;h1&gt;Page 1&lt;/h1&gt;
&lt;p&gt;Here is my text for page 1.&lt;/p&gt;
&lt;h2&gt;Page 1a&lt;/h2&gt;
&lt;p&gt;This is page 1a.&lt;/p&gt;
&lt;h2&gt;Page 1b&lt;/h2&gt;
&lt;p&gt;This is page 1b.&lt;/p&gt;
&lt;h1&gt;Page 2&lt;/h1&gt;
&lt;p&gt;This is page 2 and the last line of text.&lt;/p&gt;
</pre>

<p>This will create the following five nodes as Drupal book pages linked together in a Drupal book structure:</p>

<pre>
Node 1 Title: <em>Set explicit by user</em>
Node 1 Body: &lt;p&gt;This text is the introduction.&lt;/p&gt;
Node 1 Parent: <em>top level</em>
Node 1 Weight: 0

    Node 2 Title: Page 1
    Node 2 Body: &lt;p&gt;Here is my text for page 1.&lt;/p&gt;
    Node 2 Parent: Node 1
    Node 2 Weight: -15

       Node 3 Title: Page 1a
       Node 3 Body: &lt;p&gt;This is page 1a.&lt;/p&gt;
       Node 3 Parent: Node 2
       Node 3 Weight: -15

       Node 4 Title: Page 1b
       Node 4 Body: &lt;p&gt;This is page 1b.&lt;/p&gt;
       Node 4 Parent: Node 2
       Node 4 Weight: -14

    Node 5 Title: Page 2
    Node 5 Body: &lt;p&gt;This is page 2 and the last line of text.&lt;/p&gt;
    Node 5 Parent: Node 1
    Node 5 Weight: -14
</pre>


