<p>The <strong>HTML2Book</strong> module allows you to create
multi-page books by splitting the body text of a book page node into
multiple nodes upon save.  The split points are based upon HTML heading
tags.</p>

<p>This makes it possible to create a book in a word processing
program, export the result to HTML, and then use this HTML to create a
multipage Drupal book.</p>


<h2>Requirements</h2>

<ul>
<li><a href="https://www.drupal.org/project/advanced_help_hint">Advanced help hint</a>:<br/>
Required to link help text to online help and advanced help.</li>
</ul>

<h2>Recommended modules</h2>

<ul>
<li><a href="https://www.drupal.org/project/advanced_help">Advanced help</a>:<br/>
When this module is enabled, you will have access to extended online help.</li>
</ul>



<h2>Installation</h2>

<ol>
<li>Install as you would normally install a contributed drupal module. See: <a href="https://www.drupal.org/documentation/install/modules-themes/modules-7">Installing modules</a> for further information.</li>
<li>Enable the <strong>HTML2Body</strong> module on the <em>Modules</em> list page.</li>
<li>Navigate to the <em>Admin » People » Permissions</em> page and give the roles you will grant access to create multi-page books by means of this module the permission “Use HTML2Book“.</li>
</ol>

<h2>Configuration</h2>

<p>The module has no menu or modifiable settings.  There is no global
configuration.  When enabled, the module will add the field group
named “HTML2Book Splitter” below the book page “Body” field.  To
remove this field group, disable the module and clear caches.</p>

<p>The books pages created with this module are regular book pages
that will stay around after the module has been disabled.  On a
production site, once you're done converting the HTML files you want
to convert, you should disable the module.</p>


<h2>Similar projects</h2>

<p>I am aware of two other projects that are similar to this:</p>

<ul>
  <li><a href="https://www.drupal.org/project/html_import"><strong>HTML Import</strong></a>:<br/>
  This is a project that started in 2015 and creates a Drupal book from HTML. It seems to specifically address conversion of HTML exported from <em>MS Word</em>, <em>Adobe Indesign</em> and PDF.</li>
  <li><a href="https://www.drupal.org/project/import_html"><strong>Import HTML</strong></a>:<br/>
  This project converts pages linked from a siteroot on a legacy web server into Drupal nodes, retaining the original link structure.</li>
</ul>

<h2>Maintainers</h2>

<ul>
<li><a href="https://www.drupal.org/user/45874)">KarenS</a> (original author)</li>
<li><a href="https://www.drupal.org/u/gisle)">gisle</a> (current maintainer)</li>
</ul>

<p>Any help with development (patches, reviews, comments) are welcome.</p>
