<p>There is a good article titled
“<a href="http://mapaspects.org/article/converting-word-doc-and-pdf-drupal-book-web-display">Converting a Word Doc and PDF into a Drupal Book for web display</a>”
about using the Drupal 5 version of this module to convert a 945 page
PhD dissertation into a Drupal book. The Drupal 5 version is no longer
supported, but the Drupal 6 and Drupal 7 versions works the same way
and the general method for conversion is the same.</p>


<h2>Prepare the HTML</h2>

<p>Before you start, make sure you've prepared your HTML for
conversion.  Badly structured HTML will yield bad results. Make sure
the top level header in yiur document have the tag
<code>&lt;h1&gt;</code>, and that all header levels are properly
nested (having <code>&lt;h3&gt;</code> tags follow
an <code>&lt;h1&gt;</code> tag <em>without</em> an
intermediate <code>&lt;h2&gt;</code> tag are <em>not</em> properly nested).</p>

<p>Clean and simple HTML will work the best.  For best results, clean up
HTML by hand.  If you're unable to do this, you may try to run your
an <a href="https://services.w3.org/tidy/tidy">online version</a> of
<a href="http://www.w3.org/People/Raggett/tidy/">HTML Tidy</a>, or to
use the core <strong>Html Corrector</strong> text filter and/or
the <a href="https://www.drupal.org/project/htmltidy"><strong>HTML
Tidy</strong></a> module to clean up the HTML.</p>

<p>If the source is Microsoft Word, the text should be saved as “Web
page, Filtered” or “Filtered HTML”. When setting up the <strong>HTML
Tidy</strong> module, choose the option to clean up Microsoft Word
text.</p>

<p>To not include any materials from the HTML
<code>&lt;head&gt;</code>.  Delete the everything from the top of the
HTML-file, inluding the <code>&lt;body&gt;</code> tag.</p>

<h2>Conversion</h2>

<p>To convert HTML into a book, you create content of type “Book page”, paste the book text into the “Body” field, and select the options for what headers to split on
“HTML2Book Splitter” field group, as illustrated below:</p>

<div class="ta-center">
<img class="help-img-center" alt="clickable icon" src="&path&html2book.png" width="653" height="575" border="0" />
</div>

<p>All text before the first HTML heading tag will be retained as the body of the original (book root) page.</p>

<p>Each new book page will have the same author, categories, settings, and other characteristics of the original page.</p>

<p>Subsequent pages will be added as children of book root page, using
the heading as their title and all text from that point to the next
heading as their body. Child pages will be nested based on the
subheading number, provided the subheadings are logically
organized.</p>

<p>You can choose which heading levels will be used to create new
pages.  You may, for example, create new pages only when
a <code>&lt;h1&gt;</code> heading is encountered, or make a new page
at every header.</p>

<p>If <strong>Organic Groups</strong> is used and the original page
has been assigned to one or more groups, all child book pages will
belong to the same groups.</p>

